<header>
    <div class="header-inner-container">
        <div class="header-left">
            <a class="header-title" href="{{ "/" | relative_url }}">
                <span class="header-title-ft">FT</span>
                <span class="header-title-name">Crosswords</span>
            </a>
        </div>
        <div class="header-middle">
            <a class="header-about" href="{{ "/about" | relative_url }}">About</a>
        </div>
        <div class="header-middle">
            <a class="header-about" href="{{ "/byauthor" | relative_url }}">Authors</a>
        </div>
        <div class="header-right">
            <span class="header-feedback-title">Experimental Feature - </span>
            <a class="header-feedback-link" href="{{site.feedback_url}}">Give us your feedback</a>
        </div>
    </div>
</header>
