$cell-colour: #ffffff;
$button-colour: #000000;

.crossword-link {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    background-color: $cell-colour;
}

.crossword-link-cell--dynamic {
    height: 192px;
    background-size: cover;
    background-position: center;
}

.crossword-link-img {
    max-width: 90%;
    max-height: 100%;
}

.crossword-info {
  text-align: left;
  padding: 12px;

  &.crossword-info--dynamic {
    padding-bottom: 0;
  }
}

.crossword-title {
    font-family: $sans-serif-font;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: $dark-font-colour;
}

.crossword-date {
    font-family: $sans-serif-font;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 1;
}

.crossword-first-clue {
    font-family: $sans-serif-font;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    color: $dark-font-colour;

    height: 100px;
}

.crossword-first-clue .crossword-first-clue-inner {
    padding: 20px;
}

.crossword-title-static {
    font-family: $sans-serif-font;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    color: $dark-font-colour;
    margin-bottom: 5px;
}

.crossword-date-static {
    font-family: $sans-serif-font;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $mid-font-colour;
}

.crossword-list-more-button-link {
    text-decoration: none;
}

.crossword-list-more-button {
    font-family: $sans-serif-font;
    font-size: 16px;
    line-height: 18px;
    color: $light-font-colour;
    background-color: $button-colour;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
}

.crossword-panel-0 {
  background-image: url("../assets/imgs/panel0.png");
}
.crossword-panel-1 {
  background-image: url("../assets/imgs/panel1.png");
}
.crossword-panel-2 {
  background-image: url("../assets/imgs/panel2.png");
}
.crossword-panel-3 {
  background-image: url("../assets/imgs/panel3.png");
}
.crossword-panel-4 {
  background-image: url("../assets/imgs/panel4.png");
}
.crossword-panel-5 {
  background-image: url("../assets/imgs/panel5.png");
}
.crossword-panel-6 {
  background-image: url("../assets/imgs/panel6.png");
}
.crossword-panel-7 {
  background-image: url("../assets/imgs/panel7.png");
}
.crossword-panel-8 {
  background-image: url("../assets/imgs/panel8.png");
}
