.alert-condition {
    background-color: orange;
}

.entry-pieces {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   flex-wrap: wrap;
}

.entry-piece {
    margin-left: 5px;
}

#grid {
    letter-spacing: 1em;
}

.responsive-crossword {
    width: 100%;
}

.responsive-crossword-with-answers {
    width: 50%;
}

.winner {
    white-space: nowrap;
}

.crossword-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
