---
layout: default
---

<div class="page-container">

  <div class="page-title">
    <div class="page-inner-container">
      <h1 class="page-heading">FT Crosswords</h1>

      <div class="page-subheading">
        Welcome to our new, experimental crosswords, which can be filled in on-line.
      </div>
    </div>
  </div>

{% assign dynamic-posts = site.posts | where: "type", 'dynamic' %}
{% assign dynamic-posts-grouped = dynamic-posts | group_by: 'author' | sort: 'name' %}
{% for author-group in dynamic-posts-grouped %}
{% assign dynamic-posts = author-group.items %}

  <div class="crossword-list-container page-inner-container">
    <div class="crossword-list">
      <div class="o-teaser-collection">
        <h2 class="o-teaser-collection__heading">Crosswords by {{ author-group.name }}</h2>
        <div class="o-grid-container no-padding">
          <div class="o-grid-row">
          {% for post in dynamic-posts limit:9 %}
            {% comment %} make a persistent mapping from each post's crossword-id to a panel image {% endcomment %}
            {% assign handle = post.crossword-id | default: "001" %}
            {% assign img-index = handle | split: " " | last | split: "," | last | to_integer | modulo:9 %}
            {% assign panel = "assets/imgs/panel" | append: img-index | append: ".png" %}
            {% assign panel-class = "crossword-panel-" | append: img-index %}
            <div data-o-grid-colspan="12 S12 M6 L4">
              <a class="crossword-link" href="{{ post.url | relative_url }}">
                  <div class="crossword-info crossword-info--dynamic">
                     <div class="crossword-title">{{ post.title | escape }}</div>
                      <div class="crossword-date">{{ post.date | date: "%B %d, %Y" }}</div>
                    </div>
                  <div class="crossword-link-cell crossword-link-cell--dynamic {{ panel-class }}"></div>
              </a>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
