---
layout: default
---
<div class="page-inner-container">		
	<h1 class="post-title" itemprop="name headline">{{ page.crossword-id | escape }}
	{% if page.author %}
	by {{ page.author | escape }}
	{% endif %}</h1>
	<h2>{{ page.date | date: "%a, %d %B %Y" }}</h2>
	{% if page.winners %}
	<p>
		Won by {{ page.winners | join: '; ' }}.
	</p>
	{% endif %}

	{% if page.pdf-as-img %}
	<img src="{{ page.pdf-as-img }}" alt="static image of crossword from the paper" style="max-width:100%;">
	{% endif %}

	{% if page.pdf %}
	<p>
	or as a <a href="{{ page.pdf }}">PDF file</a>
	</p>
	{% endif %}
</div>
