---
layout: default
---
<!--
  o-crossword needs the following specified in the default wrapper
  <head>
  ...
    <link rel="stylesheet" href="//origami-build.ft.com/v2/bundles/css?modules=o-crossword%40{{ site.o_crossword_version }}%3A%2Fdemos%2Fsrc%2Fdemo.scss">
  ...
  </head>

  and

  <body>
    ...
    <script src="//origami-build.ft.com/v2/bundles/js?modules=o-crossword%40{{ site.o_crossword_version }}%3A%2Fdemos%2Fsrc%2Fdemo.js"></script>
  </body>

  (as specified in BASIC HTML in http://registry.origami.ft.com/components/o-crossword@0.4.5)

  If there are > 1 o-crossword instances on the page, it might take an extra code effort to invoke them.

  The value of the attribute, data-o-crossword-data, can be either the plain text spec of a crossword or a url to a file of that.
-->

<div class="page-inner-container">
  <div class="post-info">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }} by {{ page.author | escape }}</h1>
    <h2>{{ page.date | date: "%a, %d %B %Y" }}</h2>
    {% if page.winners %}
    <p>
      Won by {{ page.winners | join: '; ' }}.
    </p>
    {% endif %}
  </div>

  <div class="crossword-container">
    <div class="o-crossword" data-o-component="o-crossword" data-o-crossword-data="{{ content | remove: '<p>' | remove: '</p>' | escape }}">
      <table class="o-crossword-table"></table>
      <ul class="o-crossword-clues"></ul>
      <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https://raw.githubusercontent.com/ftlabs/o-crossword/master/src/img/empty.gif?source=o-crossword" class="empty-fallback hidden" />
    </div>
  </div>
</div>
