---
layout: default
---
<!--
-->

{% if page.crossword-id contains "Polymath" %}
	{% assign width  = "100%"  %}
	{% assign height = "750px" %}
{% else %}
	{% assign width  = "100%"  %}
	{% assign height = "550px" %}
{% endif %}

{% assign pdf_url = page.pdf | replace_first: "http:", "https:" %}

<h1 class="post-title" itemprop="name headline">{{ page.crossword-id | escape }} by {{ page.author | escape }}</h1>
<h2>{{ page.date | date: "%a, %d %B %Y" }}</h2>
{% if page.winners %}
<p>
	Won by {{ page.winners | join: '; ' }}.
</p>
{% endif %}


<object data="{{ pdf_url }}" width="{{ width }}" height="{{ height }}" type='application/pdf'>
<p>Sorry, the PDF Crossword could not be displayed :(</p>
</object>

<p>
and here is a <a href="{{ pdf_url }}">link to the PDF file
</p>
